#------------------------------------------------------------------------------
# Archivos y carpetas binarias estándar de .NET
#------------------------------------------------------------------------------
[Bb]in/
[Oo]bj/
*.pdb
*.suo
*.user
*.userprefs
*.vs/
*.vshost.*

#------------------------------------------------------------------------------
# Archivos generados por Rider (IDE)
#------------------------------------------------------------------------------
.idea/
*.iml

#------------------------------------------------------------------------------
# Paquetes y dependencias
#------------------------------------------------------------------------------
**/packages/
**/node_modules/